Title: Home
NoSidebar: true
NoContainer: true
NoGutter: true
---
<div class="jumbotron">
    <div class="container">
        <h1>What is nBuildKit?</h1>
        <p>
            A collection of tools that provide an easy way to set-up a complete build, test and deployment for a
            (.NET) project.
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">

            <h3>Based on MsBuild</h3>
            <p>
                The build engine powering all of the .NET framework builds
            </p>

            <h3>Consistent</h3>
            <p>
                Stuff here
            </p>

            <h3>Lots of capabilities</h3>
            <p>
                Cake supports the most common tools used during builds such as MSBuild, MSTest, xUnit, NUnit,
                NuGet, ILMerge, WiX and SignTool out of the box.
            </p>

            <h3>Easy to extend</h3>
            <p>
                Because you'll have to extend your build scripts at some point
            </p>
        </div>
        <div class="col-sm-6 hidden-xs">
            <img style="width: 100%;" src="/assets/img/screenshot.png" alt=""/>
        </div>
    </div>
</div>
