Title: Home
NoSidebar: true
NoContainer: true
NoGutter: true
---
<div class="jumbotron">
    <div class="container">
        <h1>What is nBuildKit?</h1>
        <p>
            A collection of tools that provide an easy way to set-up a complete build, test and deployment for a
            (.NET) project.
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">

            <h3>Based on MsBuild</h3>
            <p>
                The build engine powering all of the .NET framework builds
            </p>

            <h3>Consistent</h3>
            <p>
                Each build starts by removing the files that were generated in the last build so as to ensure that each
                build behaves exactly the same as the previous one.
            </p>

            <h3>Lots of build-in functions</h3>
            <p>
                nBuildKit provides functions for restoring packages from NuGet and NPM, updating AssemblyInfo files,
                gathering version numbers and release notes, generating files, building Visual Studio solutions,
                excuting unit tests with NUnit and VsTest, executing FxCop code analysis, performing IL merging, creating
                NuGet packages and ZIP archives. And all that during the build process.
            </p>
            <p>
                Additionally nBuildKit provides many functions for more comprehensive testing and deployment
            </p>

            <h3>Easy to extend</h3>
            <p>
                Because you'll have to extend your build scripts at some point
            </p>
        </div>
        <div class="col-sm-6 hidden-xs">
            <img style="width: 100%;" src="/assets/img/screenshot.png" alt=""/>
        </div>
    </div>
</div>
