<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Microsoft.Build.Framework" version="16.0.461" targetFramework="net462" />
  <package id="Moq" version="4.5.30" targetFramework="net452" />
  <package id="Nuclei.Build" version="1.0.0" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net462" developmentDependency="true" />
  <package id="System.Runtime.Serialization.Primitives" version="4.1.1" targetFramework="net462" />
  <package id="System.Threading.Thread" version="4.0.0" targetFramework="net462" />
</packages>