<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Default" Description="These are the code analysis rules for the non-test assemblies." ToolsVersion="14.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Error" />
  <Include Path="basicdesignguidelinerules.ruleset" Action="Error" />
  <Include Path="extendedcorrectnessrules.ruleset" Action="Error" />
  <Include Path="extendeddesignguidelinerules.ruleset" Action="Error" />
  <Include Path="globalizationrules.ruleset" Action="Error" />
  <Include Path="managedminimumrules.ruleset" Action="Error" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Error" />
  <Include Path="securityrules.ruleset" Action="Error" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1021" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1040" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1637" Action="None" />
  </Rules>
</RuleSet>