<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Test" Description="These are the code analysis rules for the test assemblies." ToolsVersion="14.0">
  <Include Path="default.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1822" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>