<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Apollo static code analysis rule set for tests." Description="This rule set contains all rules that are deemed useful for use with the Apollo test projects." ToolsVersion="11.0">
  <Include Path="codeanalysis.base.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1822" Action="None" />
  </Rules>
</RuleSet>