<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Apollo static code analysis rule set." Description="This rule set contains all rules that are deemed useful for use with the Apollo project." ToolsVersion="11.0">
  <IncludeAll Action="Error" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <!-- CA1000: Do not declare static members on generic types -->
    <Rule Id="CA1000" Action="None" />
    <!-- CA1006: Do not nest generic types in member signatures -->
    <Rule Id="CA1006" Action="None" />
    <!-- CA1020: Avoid namespaces with few types -->
    <Rule Id="CA1020" Action="None" />
    <!-- CA1026: Default parameters should not be used -->
    <Rule Id="CA1026" Action="None" />
    <!-- CA1030: Use events where appropriate -->
    <Rule Id="CA1030" Action="None" />
    <!-- CA1060: Move P/Invokes to NativeMethods class -->
    <Rule Id="CA1060" Action="None" />
    <!-- CA1303: Do not pass literals as localized parameters -->
    <Rule Id="CA1303" Action="None" />
    <!-- CA1502: Avoid excessive complexity -->
    <Rule Id="CA1502" Action="None" />
    <!-- CA1506: Avoid excessive class coupling -->
    <Rule Id="CA1506" Action="None" />
  </Rules>
</RuleSet>