<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="GitVersion.CommandLine" version="3.3.0" />
    <package id="GitReleaseNotes" version="0.4.0" />
    <package id="nBuildKit.MsBuild" version="${VersionSemantic}" />
    <package id="nBuildKit.Tools.VSCoverageToReportGenerator" version="${VersionSemantic}" />
    <package id="NTreva" version="0.4.0" />
    <package id="opencover" version="4.5.1923" />
    <package id="reportgenerator" version="1.9.1.0" />
</packages>